body{
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #849d8f;
	color: #fff;
}
h1,h2,h3,h4,h5,h6,p,li,ul,ol,img,a,input{
	margin: 0;
	padding: 0;
}

img{
	display: block;
}

a{
	color: inherit;
	text-decoration-color:rgba(255, 255, 255, 0.336);
}
li{
	list-style: none;	
}
p{
	font-size: 16px;
	line-height: 22px;
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	font-size: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.container{
	max-width: 1146px;
	margin: 0 auto;
}
.btn{
	background: rgb(236,87,59);
	background: linear-gradient(356deg, rgba(236,87,59,1) 17%, rgba(232,77,55,1) 50%, rgba(242,104,67,1) 92%);
	box-shadow: 4px 4px 16px -4px rgba(171, 89, 72, 1);
	border-radius: 50px;

	padding: 13px 18px;

	color: #fff;
	text-shadow: 1px 1px 4px #8d1b0a;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
/* ----------- Header ------------- */
.header__container{
	position: relative;
	z-index: 11;
}
.page-header{
	padding-top: 10px;
	position: relative;
}
.header__navigation{
	display: flex;
	align-items: center;
    justify-content: space-between;
}
.header__navigation-list{
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.header__navigation-second-list{
	display: flex;
	column-gap: 15px;
	align-items: center;
}
.header__navigation-second-list a{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	display: flex;
    align-items: center;
    column-gap: 7px;

	padding: 7px 16px;

	background-color: rgba(255, 255, 255, 0.267);
	border-radius: 50px;
}
.header__navigation-second-list .serch-icon{
	padding: 7px 7px;
}
.header__info{
	position: absolute;
    right: 0;
}
.header__info p{
	font-size: 14px;
	line-height: 16px;

	margin-bottom: 5px;
}
.header__info a{
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
}
.header__burger{
	display: none;
}

/* News Section */
.news{
	position: relative;
}
.news__slider img{
	position: absolute;
	top: -78px;
	left: 50%;
    transform: translateX(-50%)
}
.news__slider{
	height: 600px;
	position: relative;
}
.news__info{
	position: absolute;
    width: 100%;
    text-align: center;
    bottom: 118px;
}
.news__info .btn{
	font-size: 32px;
	line-height: 44px;
	
	padding: 14px 35px;
}
.news__info h1{
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 30px;
}

/* -------- Promotion Section -------*/
.promotion{
	position: relative;
	z-index: 50;
	margin-top: -40px;
}
.promotion__wrapper{
	display: flex;
	justify-content: space-between;
	column-gap: 26px;
}
.promotion__block.red{
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.promotion__block.brown{
	background-image: url(../img/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.promotion__block{
	display: flex;
    flex-direction: column;
	flex-basis: 540px;
	flex-grow: 0;

	padding: 20px;
	border-radius: 10px;
}
.promotion__block h3{
	font-size: 35px;
	line-height: 41px;

	margin-bottom: 10px;
}
.promotion__block p{
	font-size: 18px;
	margin-bottom: 40px;
	font-weight: bold;
}
.promotion__block .btn{
	
	align-self: flex-end;
}

/* ----------- Shop Section ----------- */
.shop{
	padding-top: 40px;
	padding-bottom: 40px;
}
.shop__wrapper{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.shop__item{
	flex-basis: 23%;
	position: relative;
}

.shop__item::before{
	content: url(../img/icon/hit.png);
	position: absolute;
	top: 0;
	left: 0;
}

.shop__item__price{
	position: absolute;
	bottom: 55px;
	left: 0;
}

.shop__item__price .price-sum,
.shop__item__price span{
	line-height: 45px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.shop__item__price .price-sum{
	font-size: 45px;
}
.shop__item__price span{
	font-size: 30px;
}
.shop__item a{
	display: block;
    text-align: center;

	padding-top: 15px;
}

/* -------------------about-us Section---------- */
.about-us{
	padding-bottom: 40px;
}
.about-us .about-us__block{
	background-image: url(../img/waffle_pattern.jpg);
	color: #323232;
	padding: 20px;
	border-radius: 10px;
}

.about-us__block h4{
	font-size: 24px;
	line-height: 30px;

	margin-bottom: 20px;
}

.about-us__list{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

	column-gap: 85px;
    row-gap: 20px;
}
.about-us__list li{
	flex-basis: 43%;
	position: relative;	
}
.about-us__list li img{
	position: absolute;
	left: -55px;
    top: -15px;
}

/* ------------ info Section ------------- */
.info{
	padding-bottom: 40px;
}
.info .container{
	display: flex;
	align-items: center;
    justify-content: space-between;
	column-gap: 26px;
}
.info article{
	flex-basis: 50%;
	border-radius: 10px;
	height: 200px;
}
.blog{
	background-image: url(../img/bg-strawberry.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	padding-left: 20px;

	color: #000;
}
.blog p{
	padding-top: 25px;
	color: #323232;
}
.blog a{
	display: block;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	max-width: 280px;
}
.mailing{
	background-image: url(../img/mail1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	padding-left: 20px;
	padding-right: 20px;

	color: #5a5a5a;
}
.mailing form{
	display: flex;
}
.mailing p{
	padding-top: 30px;
	margin-bottom: 32px;
}

.mailing input[type=email]{
	width: 370px;
	height: 45px;
	color: #999999;
	border:1px solid #999999;
	padding-left: 10px;
	border-radius: 5px;

	margin-right: 10px;
}

.mailing .btn{
	border: none;
	display: block;
}

/* -------------Adress Section---------------- */
.adress{
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.adress .container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.adress__block{
	background-color: #fefefe;
	color: #000;
	border-radius: 10px;
	text-align: left;
	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.adress__block .btn{
	display: block;
}